<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="glamping-N41" data-bid="pTltC8l3P7">
  <div class="contents-inner">
    <div class="contents-container container-md">
      <div class="contents-top">
        <p class="contents-text">총 <strong th:text="${count}"></strong>개의 게시물이 있습니다.</p>
        <div class="inputset inputset-border-bottom">
          <button class="inputset-icon icon-right icon-search btn" type="button" aria-label="아이콘"></button>
          <input type="text" class="inputset-input form-control" placeholder="내용을 입력하세요" aria-label="내용">
        </div>
      </div>
      <div class="cardset-wrap">
        <a href="javascript:void(0);" class="cardset">
          <figure class="cardset-figure">
            <img class="cardset-img" src="../resources/images/img_glamping_N41_1.png" alt="카드 이미지">
          </figure>
          <div class="cardset-body">
            <h2 class="cardset-tit">템하 글램핑의 하루</h2>
            <p class="cardset-txt">2023. 01. 01</p>
          </div>
        </a>
        <a href="javascript:void(0);" class="cardset">
          <figure class="cardset-figure">
            <img class="cardset-img" src="../resources/images/img_glamping_N41_2.png" alt="카드 이미지">
          </figure>
          <div class="cardset-body">
            <h2 class="cardset-tit">자연과의 대화를 즐기는 템하</h2>
            <p class="cardset-txt">2023. 01. 01</p>
          </div>
        </a>
        <a href="javascript:void(0);" class="cardset">
          <figure class="cardset-figure">
            <img class="cardset-img" src="../resources/images/img_glamping_N41_3.png" alt="카드 이미지">
          </figure>
          <div class="cardset-body">
            <h2 class="cardset-tit">인생의 작은 행복</h2>
            <p class="cardset-txt">2023. 01. 01</p>
          </div>
        </a>
        <a href="javascript:void(0);" class="cardset">
          <figure class="cardset-figure">
            <img class="cardset-img" src="../resources/images/img_glamping_N41_4.png" alt="카드 이미지">
          </figure>
          <div class="cardset-body">
            <h2 class="cardset-tit">템하 글램핑의 하루</h2>
            <p class="cardset-txt">2023. 01. 01</p>
          </div>
        </a>
        <a href="javascript:void(0);" class="cardset">
          <figure class="cardset-figure">
            <img class="cardset-img" src="../resources/images/img_glamping_N41_5.png" alt="카드 이미지">
          </figure>
          <div class="cardset-body">
            <h2 class="cardset-tit">자연과의 대화를 즐기는 템하</h2>
            <p class="cardset-txt">2023. 01. 01</p>
          </div>
        </a>
        <a href="javascript:void(0);" class="cardset">
          <figure class="cardset-figure">
            <img class="cardset-img" src="../resources/images/img_glamping_N41_6.png" alt="카드 이미지">
          </figure>
          <div class="cardset-body">
            <h2 class="cardset-tit">인생의 작은 행복</h2>
            <p class="cardset-txt">2023. 01. 01</p>
          </div>
        </a>
        <a href="javascript:void(0);" class="cardset">
          <figure class="cardset-figure">
            <img class="cardset-img" src="../resources/images/img_glamping_N41_7.png" alt="카드 이미지">
          </figure>
          <div class="cardset-body">
            <h2 class="cardset-tit">템하 글램핑의 하루</h2>
            <p class="cardset-txt">2023. 01. 01</p>
          </div>
        </a>
        <a href="javascript:void(0);" class="cardset">
          <figure class="cardset-figure">
            <img class="cardset-img" src="../resources/images/img_glamping_N41_8.png" alt="카드 이미지">
          </figure>
          <div class="cardset-body">
            <h2 class="cardset-tit">자연과의 대화를 즐기는 템하</h2>
            <p class="cardset-txt">2023. 01. 01</p>
          </div>
        </a>
        <a href="javascript:void(0);" class="cardset">
          <figure class="cardset-figure">
            <img class="cardset-img" src="../resources/images/img_glamping_N41_9.png" alt="카드 이미지">
          </figure>
          <div class="cardset-body">
            <h2 class="cardset-tit">인생의 작은 행복</h2>
            <p class="cardset-txt">2023. 01. 01</p>
          </div>
        </a>
      </div>
      <nav class="pagiset pagiset-circ">
        <div class="pagiset-ctrl">
          <a class="pagiset-link pagiset-first" href="javascript:void(0)">
            <span class="visually-hidden">처음</span>
          </a>
        </div>
        <div class="pagiset-ctrl">
          <a class="pagiset-link pagiset-prev" href="javascript:void(0)">
            <span class="visually-hidden">이전</span>
          </a>
        </div>
        <div class="pagiset-list">
          <a class="pagiset-link active-fill" href="javascript:void(0)">1</a>
          <a class="pagiset-link" href="javascript:void(0)">2</a>
          <a class="pagiset-link" href="javascript:void(0)">3</a>
        </div>
        <div class="pagiset-ctrl">
          <a class="pagiset-link pagiset-next" href="javascript:void(0)">
            <span class="visually-hidden">다음</span>
          </a>
        </div>
        <div class="pagiset-ctrl">
          <a class="pagiset-link pagiset-last" href="javascript:void(0)">
            <span class="visually-hidden">마지막</span>
          </a>
        </div>
      </nav>
    </div>
  </div>
</div>
</body>
</html>