<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript">
let i=0;
$(function(){
	$('.updates').click(function(){
		$('.ups').hide()
		$('.updates').text('수정')
		let no=$(this).attr("alt");
		if(i==0) {
			$(this).val("취소")
			$('#u'+no).show()
			i=1
		} else {
			$(this).val("수정")
			$('#u'+no).hide()
			i=0
		}
	})
})
</script>
</head>
<body>
<div class="wrapper row3">
	<main class="container clear">
		<h2 class="sectiontitle">맛집 상세보기</h2>
		<div class="two_third first">
			<!-- 상세보기 -->
			<table class="table">
				<tr>
					<td width="30%" rowspan="7" align="center">
						<img th:src="'http://menupan.com'+${vo.poster}" style="width:300px; height:300px;">
					</td>
					<td colspan="2">
						<h3 th:text="${vo.name}"></h3>
					</td>
				</tr>
				
				<tr>
					<td width="15%">주소</td>
					<td width="55%" th:text="${vo.address}" id="addr"></td>
				</tr>
				
				<tr>
					<td width="15%">전화번호</td>
					<td width="55%" th:text="${vo.phone}"></td>
				</tr>
				
				<tr>
					<td width="15%">음식 종류</td>
					<td width="55%" th:text="${vo.type}"></td>
				</tr>
				
				<tr>
					<td width="15%">테마</td>
					<td width="55%" th:text="${vo.theme}"></td>
				</tr>
				
				<tr>
					<td width="15%">영업 시간</td>
					<td width="55%" th:text="${vo.time}"></td>
				</tr>
				
				<tr>
					<td width="15%">좌석</td>
					<td width="55%" th:text="${vo.seat}"></td>
				</tr>
			</table>
			
			<div style="height: 20px;"></div>
			
			<table class="table">
				<tr>
					<td>
						<table class="table" th:each="rvo:${list}">
							<tr>
								<td align="left" th:text="|◑ ${rvo.name} (${rvo.regdate})|"></td>
								<td align="right">
									<span th:if="${session.id==rvo.id}" class="inline">
										<input type=button value="수정" class="btn-xs btn-danger updates" th:alt="${rvo.no}">
										<a th:href="@{/reply/delete(fno=${rvo.fno},no=${rvo.no})}" class="btn btn-xs btn-success">삭제</a>
	          						</span>
	          					</td>
	          				</tr>
	          				<tr>
					         	<td colspan="2">
					          		<pre style="white-space: pre-wrap;background-color: white;border:none" th:text="${rvo.msg}"></pre>
					         	</td>
					        </tr>
					        <tr th:id="|u${rvo.no}|" class="ups" style="display:none">
					         	<td colspan="2">
					             	<form method="post" action="/reply/update">
					               		<input type="hidden" name="no" th:value="${rvo.no}">
							       		<input type="hidden" name="fno" th:value="${vo.fno}">
							       		<textarea rows="5" cols="60" style="float: left" required name="msg" th:text="${rvo.msg}"></textarea>
							       		<input type=submit value="댓글수정" style="height:95px;width:100px;background-color: green">
							      	</form>
					         	</td>
					        </tr>		
						</table>
					</td>
				</tr>
			</table>
			
			<table class="table" th:if="${session.id!=null}">
				<tr>
					<td>
						<form method="post" action="/reply/insert">
							<input type="hidden" name="fno" th:value="${vo.fno}">
						    <textarea name="msg" rows="5" cols="60" style="float: left" required></textarea>
						    <input type=submit value="댓글쓰기" style="height:100px; width:100px; background-color: green">
						</form>
					</td>
				</tr>
			</table>
		</div>
		
        <div class="one_third">
			<!-- 카카오 지도 -->
			<div id="map" style="width:100%;height:350px;"></div>
			
			<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=666e34535b94b665d2f33b3ee94a689a&libraries=services"></script>
			<script>
			var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
			    mapOption = {
			        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
			        level: 3 // 지도의 확대 레벨
			    };  
			
			// 지도를 생성합니다    
			var map = new kakao.maps.Map(mapContainer, mapOption); 
			
			// 주소-좌표 변환 객체를 생성합니다
			var geocoder = new kakao.maps.services.Geocoder();
			
			// 주소로 좌표를 검색합니다
			geocoder.addressSearch('[[${vo.address}]]', function(result, status) {
			
			    // 정상적으로 검색이 완료됐으면 
			     if (status === kakao.maps.services.Status.OK) {
			
			        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
			
			        // 결과값으로 받은 위치를 마커로 표시합니다
			        var marker = new kakao.maps.Marker({
			            map: map,
			            position: coords
			        });
			
			        // 인포윈도우로 장소에 대한 설명을 표시합니다
			        var infowindow = new kakao.maps.InfoWindow({
			            content: '<div style="width:150px;text-align:center;padding:6px 0;">[[${vo.name}]]</div>'
			        });
			        infowindow.open(map, marker);
			
			        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
			        map.setCenter(coords);
			    } 
			});    
			</script>
		</div>
	</main>
</div>
</body>
</html>