<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="wrapper row1">
		<header id="header" class="clear">
			<div id="logo" class="fl_left">
				<h1><a href="/">Recipe And Food</a></h1>
			</div>
			<!-- <div class="fl_right">
				<ul class="inline">
					<li><i class="fa fa-phone"></i></li>
					<li><i class="fa fa-envelope-o"></i></li>
				</ul>
			</div> -->
		</header>
	</div>
	<div class="wrapper row2">
		<nav id="mainav" class="clear">
			<ul class="clear">
				<li class="active"><a href="/">Home</a></li>
				<li>
					<a class="drop" href="#">맛집</a>
					<ul>
						<li><a href="pages/gallery.html">맛집 목록</a></li>
						<li><a href="pages/full-width.html">맛집 찾기</a></li>
					</ul>
				</li>
				<li>
					<a class="drop" href="#">레시피</a>
					<ul>
						<li><a href="/recipe/main">레시피</a></li>
						<li><a href="/recipe/chef">쉐프</a></li>
					</ul>
				</li>
				<li>
					<a class="drop" href="#">스토어</a>
					<ul>
						<li><a href="pages/gallery.html">전체상품</a></li>
						<li><a href="pages/full-width.html">베스트상품</a></li>
						<li><a href="pages/full-width.html">신상품</a></li>
						<li><a href="pages/full-width.html">특가상품</a></li>
					</ul>
				</li>
				<li><a href="#">커뮤니티</a></li>
				<li><a href="/emp/list">연습용</a></li>
			</ul>
		</nav>
	</div>
</body>
</html>