<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://unpkg.com/vue@3"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div class="wrapper row1">
	<header id="header" class="clear">
		<div id="logo" class="fl_left">
			<h1><a href="/">Recipe And Food</a></h1>
		</div>
		<div class="fl_right">
			<ul class="inline" th:if="${session.id==null}">
				<li><i class="fa fa-phone"></i>ID:<input type="text" id="id" ref="id" v-model="id" size="15"> </li>
				<li><i class="fa fa-envelope-o"></i>PWD:<input type="password" id="password" ref="pwd" v-model="pwd" size="15"> </li>
				<li><input type="button" value="로그인" @click="login()">
			</ul>
			<ul class="inline" th:nuless="${session.id==null}">
				<li><i class="fa fa-phone"></i><span th:text="${session.name}"></span></li>
				<li><i class="fa fa-envelope-o"></i>님 로그인 되었습니다.</li>
				<li><input type="button" value="로그아웃" @click="logout()">
			</ul>
		</div>
	</header>
	
	<script>
	// id:[[${id}]]
	let logApp=Vue.creatApp({
		data(){
			return {
				id:'',
				pwd:''
			}
		},
		methods:{
			login(){
				if(this.id==="") {
					this.$refs.id.focus()
					return
				}
				if(this.pwd==="") {
					this.$refs.pwd.focus()
					return
				}
				axios.post('/member/login', null, {
					params:{
						id:this.id,
						pwd:this.pwd
					}
				}).then(res=>{
					if(res.data==='NOID') {
						alert("아이디가 존재하지 않습니다.")
						this.id=''
						this.pwd=''
						this.$refs.id.focus()
						
					} else if(res.data==="NOPWD") {
						alert("비밀번호가 존재하지 않습니다.")
						this.pwd=''
						this.$refs.pwd.focus()
					} else {
						location.href="/"
					}
				})
			},
			logout(){
				axios.get('/member/logout').then(res=>{
					if(res.data==='yes') {
						location.href="/"
					} else {
						alert("로그아웃 실패하셨습니다.")
					}
				})
			}
		}
	}).mount('#header')
	</script>
</div>
<div class="wrapper row2">
	<nav id="mainav" class="clear">
		<ul class="clear">
			<li class="active"><a href="/">Home</a></li>
			<li>
				<a class="drop" href="#">맛집</a>
				<ul>
					<li><a href="/food/list">맛집 목록</a></li>
					<li><a href="/food/find">맛집 찾기</a></li>
				</ul>
			</li>
			<li>
				<a class="drop" href="#">레시피</a>
				<ul>
					<li><a href="/recipe/main">레시피</a></li>
					<li><a href="/recipe/chef">쉐프</a></li>
				</ul>
			</li>
			<li>
				<a class="drop" href="#">스토어</a>
				<ul>
					<li><a href="pages/gallery.html">전체상품</a></li>
					<li><a href="pages/full-width.html">베스트상품</a></li>
					<li><a href="pages/full-width.html">신상품</a></li>
					<li><a href="pages/full-width.html">특가상품</a></li>
				</ul>
			</li>
			<li><a href="/board/list">커뮤니티</a></li>
			<li><a href="/emp/list">연습용</a></li>
		</ul>
	</nav>
</div>
</body>
</html>