<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="wrapper row3">
  <main class="container clear"> 
  	<h2 class="sectiontitle">자유 게시판</h2>
  	<table>
  		<tr>
  			<td>
  				<a href="/board/insert" class="btn btn-sm btn-danger">새글</a>
  			</td>
  		</tr>
  	</table>
  	<table class="table">
  		<tr>
  			<th width="10%" class="text-center">번호</th>
  			<th width="45%" class="text-center">제목</th>
  			<th width="15%" class="text-center">이름</th>
  			<th width="20%" class="text-center">작성일</th>
  			<th width="10%" class="text-center">조회수</th>
  		</tr>
  		
  		<tr th:each="vo:${list}">
  			<td width="10%" class="text-center" th:text="${vo.no}">번호</td>
  			<td width="45%" class="" th:text="${vo.subject}">제목</td>
  			<td width="15%" class="text-center" th:text="${vo.name}">이름</td>
  			<td width="20%" class="text-center" th:text="${vo.regdate}">작성일</td>
  			<td width="10%" class="text-center" th:text="${vo.hit}">조회수</td>
  		</tr>
  		
  		<tr>
  			<td colspan="5" class="text-center">
  				<a href="#" class="btn btn-sm btn-success">이전</a>
  					<span th:text="${curpage}"></span> page / <span th:text="${totalpage}">pages</span>
  				<a href="#" class="btn btn-sm btn-info">다음</a>
  			</td>
  		</tr>
  	</table>
  </main>
 </div>
</body>
</html>